@media screen and(max-width: 1200px){
    @font-face {
        font-family: 'xioawei';
        src: url(font/ZCOOLXiaoWei-Regular.ttf);
    }
    
    body {
        font-family: 'xioawei';
        margin: 0;
        padding: 0;
    }
    
    /* header */
    header {
        text-align: center;
        display: grid;
        background-image: url(img/jess-bailey-UHqfUTDmdC4-unsplash.jpg);
        background-size: cover;
        height: auto;
        padding: 20px;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        justify-content: center;
        padding-bottom: 64px;
    }
    
    
    header h1 {
        color: #ecd0ba;
    }
    
    header h1 span {
        color:#ff971d;
    }
    
    header img {
        border: 5px solid grey;
        width: 270px;
        height: 270px;
        border-radius: 50%;
        transition: .7s;
    }
    
    header img:hover {
        position: relative;
        bottom: 4px;
        filter: contrast(.8) saturate(.9);
        box-shadow: 3px 3px rgb(70, 67, 62);
        border: 5px solid salmon;
    }
    
    header a button {
        border: 3px solid rgb(107, 75, 75);
        margin-top: 20px;
        border-radius: 14%;
        height: 50px;
        background-color: #ff961db9;
        transition: .7s;
        width: 90%;
    }
    
    header a button:hover {
        position: relative;
        bottom: 3.5px;
        box-shadow: 3px 3px gray;
        background-color: wheat;
        cursor: pointer;
    }
    
    header a button span {
        font-size: larger;
        font-weight: bold;
        color: black;
    }
    
    header a button span:hover {
        color: tomato;  
    }
    /* header */
    
    
    /* modal section */
    section {
        /* display: none; */
        background-color: gainsboro;
        padding: 15px;
        display: grid;
        grid-template-areas: "about btn portfolio";
    }
    
    section#modal div.about {
        width: 450px;
        grid-area: about;
        background-color: honeydew;
        padding: 18px;
        border: 4px solid black;
        box-shadow: 1.5px 1.4px 1.7px 1.6px rgb(0, 0, 0);
    }
    
    section#modal div.about h1 {
        font-size: 28px;
    }
    
    section#modal div.about li, section#modal div.about p {
        font-size: 18px;
    }
    
    section#modal div.close {
        border-radius: 50%;
        height: 60px;
        width: 60px;
        box-sizing: border-box;
        text-align: center;
        background-color: maroon;
        align-items: center;
        grid-area: btn;
        margin: auto;
        box-shadow: 1px 1px 1.7px 1.6px rgb(0, 0, 0);
        transition: .7s;
    }
    
    section#modal div.close:hover {
        box-shadow: 1px 1px 1.7px 6px rgb(233, 225, 225);
        cursor: pointer;
        background-color: rgba(128, 0, 0, 0.637);
    }
    
    section#modal div.close span:hover {
        color: black;
        cursor: pointer;
    }
    
    section#modal div.close span {
        font-weight: 1000;
        font-size: 21px;
        color: white;
        align-items: center;
        line-height: 60px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    section#modal div.portfolio {
        text-align: center;
        width: auto;
        grid-area: portfolio;
        background-color: wheat;
        padding: 18px;
        border: 4px solid rgb(141, 135, 135);
        box-shadow: 1.2px 1.5px 1.8px 1.7px rgb(0, 0, 0);
    }
    
    section#modal div.portfolio h1 {
        text-align: center;
        font-size: 28px;
    }
    
    section#modal div.portfolio img {
        width: 100%;
        height: 180px;
        display: inline-block;
        margin-right: 20px;
        transition: .4s;
    }
    
    section#modal div.portfolio img:hover {
        box-shadow: 1.5px 3px 6px black;
    }
    /* modal section */
    
    /* learning progress */
    aside {
        background-image: url(img/joan-tran-NmsW5AY91n0-unsplash.jpg);
        display: grid;
        background-size: cover;
        height: auto;
        padding: 15px;
        grid-template-areas:".title."   
                            "front . back";
        padding-bottom: 100px;
    }
    
    .learn h1 {
        font-size: 25px;
    }
    
    aside h1.main-learn {
        justify-content: center;
        text-align: center;
        color: black;
        font-size: 35px;
        grid-area: title;    
    }
    
    div.front {
        margin-left: 60px;
        grid-area: front;
    }
    
    div.back {
        margin-right: 60px;
        grid-area: back;
    }
    
    progress {
        border-radius: 50%;
        height: 20px;
        width: 400px;
        margin-bottom: 5px;
    }
    
    progress#html::-webkit-progress-value {
        background: orangered;
    }
    
    progress#css::-webkit-progress-value {
        background: skyblue;
    }
    
    progress#js::-webkit-progress-value {
        background: yellow;
    }
    
    progress#php::-webkit-progress-value {
        background: #787CB5;
    }
    
    progress#sql::-webkit-progress-value {
        background: orange;
    }
    
    progress#py::-webkit-progress-value {
        background: rgb(8, 8, 223);
    }
    
    /* more spesific skill */
    div.front h1 {
        font-weight: bold;
    }
    
    div.front h1.html {
        color: orangered;
    }
    
    div.front h1.css {
        color: rgb(59, 187, 238);
    }
    
    div.front h1.javascript {
        color: black;
    }
    
    div.back h1.php {
        color: #787CB5;
    }
    
    div.back h1.mysql span {
        color: rgb(243, 164, 17);
    }
    
    div.back h1.python span {
        color: blue;
    }
    
    div.back h1.python {
        color: yellow;
    }
    
    
    /* more spesific skill */
    
    /* learning progress */
    
    /* footer */
    footer img {
        width: 37px;
        height: 37px;
    }
    
    footer a {
        margin-right: 7px;
    }
    
    footer {
        color: wheat;
        display: grid;
        grid-template-areas: "contact copyright";
        background-color: #504c4c;
    }
    
    footer .contact {
        grid-area: contact;
        margin-top: 10px;
        margin-left: 70px;
        margin-bottom: 10px;
        align-items: center;
    }
    footer .copyright {
        grid-area: copyright;
        text-align: center;
    }
    /* footer */
    
    
    
    
}


@media screen and (max-width: 1025px ) {

    /* header */
   header{ 
            text-align: center;
            display: grid;
            background-image: url(img/jess-bailey-UHqfUTDmdC4-unsplash.jpg);
            background-size: cover;
            height: auto;
            padding: 13px;
            grid-template-rows: auto auto auto;
            grid-template-columns: auto;
            justify-content: center;
            padding-bottom: 50px;

    }

    header h1 {
        color: #ecd0ba;
        font-size: 27.7px;
    }
    
    header h1 span {
        color:#ff971d;
    }

    header img {
        border: 2px solid grey;
        width: 260px;
        height: 260px;
        border-radius: 50%;
        transition: .7s;
    }

    header img:hover {
        position: relative;
        bottom: 2px;
        filter: contrast(.8) saturate(.9);
        box-shadow: 3px 3px rgb(70, 67, 62);
        border: 2px solid salmon;
    }

    header a button {
        border: 3px solid rgb(107, 75, 75);
        margin-top: 12px;
        border-radius: 14%;
        height: 39px;
        background-color: #ff961db9;
        transition: .7s;
        width: 88%;
    }

    header a button:hover {
        position: relative;
        bottom: 1.5px;
        box-shadow: 1px 1px gray;
        background-color: wheat;
        cursor: pointer;
    }

    header a button span {
        font-size: 18px;
        font-weight: bold;
        color: black;
    }

    header a button span:hover {
        color: tomato;  
    }
    /* header */

    /* modal section */
    section {
        /* display: none; */
        background-color: gainsboro;
        padding: 25px;
        display: grid;
        grid-template-areas:"about"
                            "btn"
                            "portfolio" ;
    }

    section#modal div.about {
        width: auto;
        grid-area: about;
        background-color: honeydew;
        padding: 12px;
        border: 2px solid black;
        box-shadow: 1.5px 1.4px 1.7px 1.6px rgb(0, 0, 0);
        margin-bottom: 23px;
    }

    section#modal div.about h1 {
        font-size: 27px;
    }

    section#modal div.about li, section#modal div.about p {
        font-size: 20px;
    }

    section#modal div.close {
        border-radius: 50%;
        height: 55px;
        width: 55px;
        box-sizing: border-box;
        text-align: center;
        background-color: maroon;
        align-items: center;
        grid-area: btn;
        margin: auto;
        box-shadow: 1px 1px 1.7px 1.6px rgb(0, 0, 0);
        transition: .7s;
    }

    section#modal div.close span {
        font-weight: 750;
        font-size: 22px;
        color: white;
        align-items: center;
        line-height: 55px;
        font-family: Arial, Helvetica, sans-serif;
    }

    section#modal div.portfolio {
        margin-top: 23px;
        text-align: center;
        width: auto;
        grid-area: portfolio;
        background-color: wheat;
        padding: 12px;
        border: 2px solid rgb(141, 135, 135);
        box-shadow: 1.2px 1.5px 1.8px 1.7px rgb(0, 0, 0);
    }

    section#modal div.portfolio h1 {
        text-align: center;
        font-size: 30px;
    }

    section#modal div.portfolio img {
        margin-bottom: 15px;
        width: 100%;
        height: 240px;
        margin-right: 20px;
        transition: .4s;
        display: inline-block;
    }
    /* modal section */

    /* learning progress */
    aside {
        background-image: url(img/joan-tran-NmsW5AY91n0-unsplash.jpg);
        display: grid;
        background-size: cover;
        height: auto;
        padding: 10px;
        grid-template-areas:"title"   
                            "front"
                            "back";
        padding-bottom: 65px;
    }

    .learn h1 {
        font-size: 24px;
    }

    aside h1.main-learn {
        justify-content: center;
        text-align: center;
        color: black;
        font-size: 33px;
        grid-area: title;    
    }

    div.front {
        width: auto;
        grid-area: front;
        margin: auto;
    }

    div.back {
        margin:auto;
        width: auto;
        grid-area: back;
    }
    
    progress {
        border-radius: 50%;
        height: 28px;
        width: 580px;
        margin-bottom: 3.5px;
    }

    aside img {
        width: 10%;
        height:10%;
    }

    div.front h1 {
        font-weight: bold;
    }
    
    div.front h1.html {
        color: orangered;
    }
    
    div.front h1.css {
        color: rgb(59, 187, 238);
    }
    
    div.front h1.javascript {
        color:black;
    }
    
    div.back h1.php {
        color: #787CB5;
    }
    
    div.back h1.mysql span {
        color: rgb(243, 164, 17);
    }
    
    div.back h1.python span {
        color: blue;
    }
    
    div.back h1.python {
        color: yellow;
    }
    /* learning progress */

    /* footer */
    footer img {
        width: 29px;
        height: 29px;
    }
    

    footer a {
        margin-right: 7px;
    }

    footer {
        color: wheat;
        display: grid;
        grid-template-areas: "contact copyright";
        background-color: #504c4c;
    }

    footer .contact {
        grid-area: contact;
        margin-top: 10px;
        margin-left: 50px;
        margin-bottom: 8px;
        align-items: center;
    }
    footer .copyright {
        grid-area: copyright;
        text-align: center;
        font-size: 14px;
    }
    /* footer */

}



/* tablet size */
@media screen and (max-width: 768px ) {

    /* header */
   header{ 
            text-align: center;
            display: grid;
            background-image: url(img/jess-bailey-UHqfUTDmdC4-unsplash.jpg);
            background-size: cover;
            height: auto;
            padding: 13px;
            grid-template-rows: auto auto auto;
            grid-template-columns: auto;
            justify-content: center;
            padding-bottom: 50px;

    }

    header h1 {
        color: #ecd0ba;
        font-size: 27.7px;
    }
    
    header h1 span {
        color:#ff971d;
    }

    header img {
        border: 2px solid grey;
        width: 260px;
        height: 260px;
        border-radius: 50%;
        transition: .7s;
    }

    header img:hover {
        position: relative;
        bottom: 2px;
        filter: contrast(.8) saturate(.9);
        box-shadow: 3px 3px rgb(70, 67, 62);
        border: 2px solid salmon;
    }

    header a button {
        border: 3px solid rgb(107, 75, 75);
        margin-top: 12px;
        border-radius: 14%;
        height: 39px;
        background-color: #ff961db9;
        transition: .7s;
        width: 88%;
    }

    header a button:hover {
        position: relative;
        bottom: 1.5px;
        box-shadow: 1px 1px gray;
        background-color: wheat;
        cursor: pointer;
    }

    header a button span {
        font-size: 18px;
        font-weight: bold;
        color: black;
    }

    header a button span:hover {
        color: tomato;  
    }
    /* header */

    /* modal section */
    section {
        /* display: none; */
        background-color: gainsboro;
        padding: 25px;
        display: grid;
        grid-template-areas:"about"
                            "btn"
                            "portfolio" ;
    }

    section#modal div.about {
        width: auto;
        grid-area: about;
        background-color: honeydew;
        padding: 12px;
        border: 2px solid black;
        box-shadow: 1.5px 1.4px 1.7px 1.6px rgb(0, 0, 0);
        margin-bottom: 23px;
    }

    section#modal div.about h1 {
        font-size: 27px;
    }

    section#modal div.about li, section#modal div.about p {
        font-size: 20px;
    }

    section#modal div.close {
        border-radius: 50%;
        height: 55px;
        width: 55px;
        box-sizing: border-box;
        text-align: center;
        background-color: maroon;
        align-items: center;
        grid-area: btn;
        margin: auto;
        box-shadow: 1px 1px 1.7px 1.6px rgb(0, 0, 0);
        transition: .7s;
    }

    section#modal div.close span {
        font-weight: 750;
        font-size: 22px;
        color: white;
        align-items: center;
        line-height: 55px;
        font-family: Arial, Helvetica, sans-serif;
    }

    section#modal div.portfolio {
        margin-top: 23px;
        text-align: center;
        width: auto;
        grid-area: portfolio;
        background-color: wheat;
        padding: 12px;
        border: 2px solid rgb(141, 135, 135);
        box-shadow: 1.2px 1.5px 1.8px 1.7px rgb(0, 0, 0);
    }

    section#modal div.portfolio h1 {
        text-align: center;
        font-size: 30px;
    }

    section#modal div.portfolio img {
        margin-bottom: 15px;
        width: 100%;
        height: 240px;
        margin-right: 20px;
        transition: .4s;
        display: block;
    }
    /* modal section */

    /* learning progress */
    aside {
        background-image: url(img/joan-tran-NmsW5AY91n0-unsplash.jpg);
        display: grid;
        background-size: cover;
        height: auto;
        padding: 10px;
        grid-template-areas:"title"   
                            "front"
                            "back";
        padding-bottom: 65px;
    }

    .learn h1 {
        font-size: 24px;
    }

    aside h1.main-learn {
        justify-content: center;
        text-align: center;
        color: black;
        font-size: 33px;
        grid-area: title;    
    }

    div.front {
        width: auto;
        grid-area: front;
        margin: auto;
    }

    div.back {
        margin:auto;
        width: auto;
        grid-area: back;
    }
    
    progress {
        border-radius: 50%;
        height: 28px;
        width: 550px;
        margin-bottom: 3.5px;
    }

    aside img {
        width: 10%;
        height:10%;
    }

    div.front h1 {
        font-weight: bold;
    }
    
    div.front h1.html {
        color: orangered;
    }
    
    div.front h1.css {
        color: rgb(59, 187, 238);
    }
    
    div.front h1.javascript {
        color:black;
    }
    
    div.back h1.php {
        color: #787CB5;
    }
    
    div.back h1.mysql span {
        color: rgb(243, 164, 17);
    }
    
    div.back h1.python span {
        color: blue;
    }
    
    div.back h1.python {
        color: yellow;
    }
    /* learning progress */

    /* footer */
    footer img {
        width: 29px;
        height: 29px;
    }
    

    footer a {
        margin-right: 7px;
    }

    footer {
        color: wheat;
        display: grid;
        grid-template-areas: "contact copyright";
        background-color: #504c4c;
    }

    footer .contact {
        grid-area: contact;
        margin-top: 10px;
        margin-left: 50px;
        margin-bottom: 8px;
        align-items: center;
    }
    footer .copyright {
        grid-area: copyright;
        text-align: center;
        font-size: 14px;
    }
    /* footer */

}
/* tablet size */




/* phone size */
@media screen and (max-width: 576px ) {

    /* header */
   header{ 
            text-align: center;
            display: grid;
            background-image: url(img/jess-bailey-UHqfUTDmdC4-unsplash.jpg);
            background-size: cover;
            height: auto;
            padding: 10px;
            grid-template-rows: auto auto auto;
            grid-template-columns: auto;
            justify-content: center;
            padding-bottom: 40px;

    }

    header h1 {
        color: #ecd0ba;
        font-size: 25px;
    }
    
    header h1 span {
        color:#ff971d;
    }

    header img {
        border: 2px solid grey;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        transition: .7s;
    }

    header img:hover {
        position: relative;
        bottom: 2px;
        filter: contrast(.8) saturate(.9);
        box-shadow: 3px 3px rgb(70, 67, 62);
        border: 2px solid salmon;
    }

    header a button {
        border: 3px solid rgb(107, 75, 75);
        margin-top: 12px;
        border-radius: 14%;
        height: 35px;
        background-color: #ff961db9;
        transition: .7s;
        width: 85%;
    }

    header a button:hover {
        position: relative;
        bottom: 1.5px;
        box-shadow: 1px 1px gray;
        background-color: wheat;
        cursor: pointer;
    }

    header a button span {
        font-size: 15px;
        font-weight: bold;
        color: black;
    }

    header a button span:hover {
        color: tomato;  
    }
    /* header */

    /* modal section */
    section {
        /* display: none; */
        background-color: gainsboro;
        padding: 20px;
        display: grid;
        grid-template-areas:"about"
                            "btn"
                            "portfolio" ;
    }

    section#modal div.about {
        width: auto;
        grid-area: about;
        background-color: honeydew;
        padding: 9px;
        border: 2px solid black;
        box-shadow: 1.5px 1.4px 1.7px 1.6px rgb(0, 0, 0);
        margin-bottom: 20px;
    }

    section#modal div.about h1 {
        font-size: 24px;
    }

    section#modal div.about li, section#modal div.about p {
        font-size: 17px;
    }

    section#modal div.close {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        box-sizing: border-box;
        text-align: center;
        background-color: maroon;
        align-items: center;
        grid-area: btn;
        margin: auto;
        box-shadow: 1px 1px 1.7px 1.6px rgb(0, 0, 0);
        transition: .7s;
    }

    section#modal div.close span {
        font-weight: 700;
        font-size: 20px;
        color: white;
        align-items: center;
        line-height: 50px;
        font-family: Arial, Helvetica, sans-serif;
    }

    section#modal div.portfolio {
        margin-top: 20px;
        text-align: center;
        width: auto;
        grid-area: portfolio;
        background-color: wheat;
        padding: 9px;
        border: 2px solid rgb(141, 135, 135);
        box-shadow: 1.2px 1.5px 1.8px 1.7px rgb(0, 0, 0);
    }

    section#modal div.portfolio h1 {
        text-align: center;
        font-size: 28px;
    }

    section#modal div.portfolio img {
        margin-bottom: 15px;
        width: 100%;
        height: 200px;
        margin-right: 20px;
        transition: .4s;
        display: block;
    }
    /* modal section */

    /* learning progress */
    aside {
        background-image: url(img/joan-tran-NmsW5AY91n0-unsplash.jpg);
        display: grid;
        background-size: cover;
        height: auto;
        padding: 10px;
        grid-template-areas:"title"   
                            "front"
                            "back";
        padding-bottom: 65px;
    }

    .learn h1 {
        font-size: 21px;
    }

    aside h1.main-learn {
        justify-content: center;
        text-align: center;
        color: black;
        font-size: 30px;
        grid-area: title;    
    }

    div.front {
        width: auto;
        grid-area: front;
        margin: auto;
    }

    div.back {
        margin:auto;
        width: auto;
        grid-area: back;
    }
    
    progress {
        border-radius: 50%;
        height: 15px;
        width: 310px;
        margin-bottom: 3.5px;
    }

    aside img {
        width: 15%;
        height:15%;
    }

    div.front h1 {
        font-weight: bold;
    }
    
    div.front h1.html {
        color: orangered;
    }
    
    div.front h1.css {
        color: rgb(59, 187, 238);
    }
    
    div.front h1.javascript {
        color:black;
    }
    
    div.back h1.php {
        color: #787CB5;
    }
    
    div.back h1.mysql span {
        color: rgb(243, 164, 17);
    }
    
    div.back h1.python span {
        color: blue;
    }
    
    div.back h1.python {
        color: yellow;
    }
    /* learning progress */

    /* footer */
    footer img {
        width: 29px;
        height: 29px;
    }
    

    footer a {
        margin-right: 7px;
    }

    footer {
        color: wheat;
        display: grid;
        grid-template-areas: "contact copyright";
        background-color: #504c4c;
    }

    footer .contact {
        grid-area: contact;
        margin-top: 10px;
        margin-left: 50px;
        margin-bottom: 8px;
        align-items: center;
    }
    footer .copyright {
        grid-area: copyright;
        text-align: center;
        font-size: 14px;
    }
    /* footer */

}
/* phone size */

/* 576
768
992
1200
*/