@font-face {
    font-family: 'xioawei';
    src: url(font/ZCOOLXiaoWei-Regular.ttf);
}

body {
    font-family: 'xioawei';
    margin: 0;
    padding: 0;
}

/* header */
header {
    text-align: center;
    display: grid;
    background-image: url(img/jess-bailey-UHqfUTDmdC4-unsplash1.jpg);
    background-size: cover;
    height: auto;
    padding: 20px;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    justify-content: center;
    padding-bottom: 64px;
}


header h1 {
    color: #fd9115;
}

header h1 span {
    color:#e97c00;
}

header img {
    border: 5px solid rgb(114, 113, 113);
    width: 270px;
    height: 270px;
    border-radius: 50%;
    transition: .7s;
}

header img:hover {
    position: relative;
    bottom: 4px;
    filter: contrast(.8) saturate(.9);
    box-shadow: 3px 3px rgb(78, 75, 70);
    border: 5px solid rgb(252, 102, 86);
}

header a button {
    border: 3px solid rgb(107, 75, 75);
    margin-top: 20px;
    border-radius: 14%;
    height: 50px;
    background-color: #ff961db9;
    transition: .7s;
    width: 90%; 
}

header a button:hover {
    position: relative;
    bottom: 3.5px;
    box-shadow: 3px 3px gray;
    background-color: wheat;
    cursor: pointer;
}

header a button span {
    font-size: large;
    font-weight: bold;
    color: rgb(92, 65, 65);
}
/* header */


/* modal section */
section {
    /* display: none; */
    background-color: gainsboro;
    padding: 50px 50px;
    display: grid;
    grid-template-areas: "about ilustrasi";
    transition: all .3s;
}

section#modal div.about {
    width: 450px;
    grid-area: about;
    padding: 18px;
    margin-left: 100px;
}

section#modal div.about h1 {
    font-size: 28px;
    text-shadow: 2px 2px #7bff00;
    width: 100%;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: typing 3s steps(100,end);
    animation: animasi-ketik 3s steps(100, end);
    animation-iteration-count: infinite;
}
@keyframes animasi-ketik{
    from { width: 0; }
  }
  
  @-webkit-keyframes animasi-ketik{
    from { width: 0; }
  }

section#modal div.about li, section#modal div.about p {
    font-size: 18px;
}

section#modal div.ilustrasi {
    width: auto;
    grid-area: ilustrasi;
}

section#modal div.ilustrasi img {
    width: 350px;
    height: 270px;
    display: inline-block;
    margin-right: 10px;
    position:relative;
    animation: mymove 2s;
    animation-iteration-count: infinite;
}
@keyframes mymove {
    0%   {left: 0px; top: 0px;}
    50%  {left: 0px; top: 30px;}
    100% {left: 0px; top: 0px;}
  }
/* modal section */

/* learning progress */
aside {
    background-image: url(img/joan-tran-NmsW5AY91n0-unsplash.jpg);
    background-size: cover;
    height: auto;
    padding: 15px;
    padding-bottom: 100px;
}

aside h1.main-learn {
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 35px;   
}
.learn{
    padding-top: 20px;
}
.learn h1 {
    font-size: 25px;
    justify-content: center;
    text-align: center;
    letter-spacing: 3px;
}
/* learning progress */

/* random project */
div.random-project {
    background-color: grey;
    text-align: center;
    padding: 20px;
}

div.random-project h1 {
    font-size: 1.8rem;
}

div.flex-project {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

div.flex-project img {
    width: 400px;
    margin: 5px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px whitesmoke;
    transition: .4s;
}

div.flex-project img:hover {
    box-shadow: 1px 1px 1px #000;
    position: relative;
    top: 1px;
    cursor: pointer;
}
/* random project */

/* footer */
footer img {
    width: 37px;
    height: 37px;
}

footer a {
    margin-right: 7px;
}

footer {
    color: wheat;
    display: grid;
    grid-template-areas: "contact copyright";
    background-color: #504c4c;
}

footer .contact {
    grid-area: contact;
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: 10px;
    align-items: center;
}
footer .copyright {
    grid-area: copyright;
    text-align: center;
}
/* footer */




